<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sslc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SSLC">
        <activity
            android:name=".AdminNewsDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_news_detail"
            android:theme="@style/Theme.SSLC.NoActionBar" />
        <activity
            android:name=".AdminAddNewsActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_add_news"
            android:theme="@style/Theme.SSLC.NoActionBar" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>